.banner {
    position: relative;
    margin-top: 100px;
    max-width: 100%;
    overflow: hidden;
    height: 300px;
}

.banner img {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 20px !important;
    }
    .subtitle{
        font-size: 16px !important;
    } 
}

@media screen and (max-width: 720px) {
    .title {
        font-size: 22px !important;
    }
    .subtitle{
        font-size: 18px !important;
    } 
}

/* admin side */
.buttonDropdownSidebar:hover{
    background-color: transparent !important;
}