.logo{
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 8px;
}

.cardHovered {
    transition: all 0.3s ease !important;
}

.cardHovered:hover {
    transform: scale3d(1.05, 1.05, 1);
    border: none;
    box-shadow: 0px 10px 20px 2px #c4ccff;
    background: linear-gradient(45deg, rgba(255,253,237,1) 0%, rgba(237,255,246,1) 100%);
}

.listItem {
    transition: background-color 0.3s ease !important;
}

.listItem:hover {
    background-color: #e9e9e9;
}

.productList {
    transition: letter-spacing 0.3s ease !important;
}

.productList:hover {
    letter-spacing: 1px;
}

.social {
    transition: all 0.3s ease, border 0.01s ease;
}

.social:hover {
    transform: scale(1.1);
    box-shadow: 0 0 14px #ea9e1f;;
}

.tableRow:hover {
    background-color: #fbecd2;
}

.tableText {
    text-align: center !important;
    font-weight: 500 !important;
}

.navLink {
    transition: transform 0.3s ease !important;
}
.navLink:hover {
    transform: scale3d(1.05, 1.05, 1);
}