@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #498a7a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fbcc7b;
  /* width: 8px; */
  border: 3px solid #498a7a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fabc51;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  /* font-weight: normal; */
}

#root {
  margin: 0 auto;
  padding: 0;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
